.searchBox {
  display: flex;
  background-color: white;
}
.searchContainer {
  position: fixed;
  justify-content: center;

  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: fit-content;
}

.filterBox{
  background-color: rgba(255, 255, 255, 0.5);
}
.removeQueryBtn {
  border: none;
  background: none;
  color: black;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.5);
  @media (max-width: 768px) {
    margin: 1rem;
  }
}

.navStyle {
  color: black;
  margin: 1rem 1rem 1rem 1rem;
  padding: 7px;
  border-radius: 0.6rem;
}

.queryBlock {
  padding: 7px;
  margin: 1px 1px 1px 1px;
  border-radius: 0.8rem;
}

.navActive {
  background-color: gray;
  text-decoration: underline;
  color: white;
}
